[user]
	name = Julien Roland
[url "https://juroland@github"]
	insteadOf = git://github
[push]
	default = matching
[http]
	sslverify = false
[core]
	autocrlf = input
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --branches=*
