'exception-reporting':
  'userId': '03539196-c7db-1b4a-2cc7-53b204a0cce4'
'metrics':
  'userId': '553a2abe-1f71-3ae4-8353-6fe62cc85974'
'welcome':
  'showOnStartup': false
'core':
  'themes': [
    'seti-ui'
    'seti-syntax'
  ]
  'disabledPackages': [
    'vim-mode'
    'linter-shellcheck'
  ]
'recent-files':
  'updated': false
'autocomplete-clang':
  'appendDefaultOutputOfAutocomplete': true
  'preCompiledHeaders': {}
  'std':
    'c++': 'c++11'
  'clangCommand': 'clang++'
  'includePaths': [
    '/usr/include/c++/4.9.0'
    '/usr/include/c++/4.9.0/x86_64-unknown-linux-gnu'
    '/usr/include'
    '/usr/lib/clang/3.4.2/include/'
  ]
'editor':
  'tabLength': 4
  'softWrap': true
'fuzzy-finder':
  'ignoredNames': [
    '*.class'
    '*.o'
    '*.so'
    '*.out'
    '*.pch'
  ]
